<launch>

	<env name="PYTHONPATH" value="$(env PYTHONPATH)" />

	<arg name="ip" />
	<arg name="force_python" default="true" />

	<include file="$(find naoqi_driver)/launch/naoqi_driver.launch">
		<arg name="nao_ip" value="$(arg ip)" />
		<arg name="network_interface" value="lo" />	    
	</include> 

	<node name="interact" pkg="interact" type="speech_to_text.py" output="screen" args="$(arg ip)"/>

</launch>
